@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #f1f1f1;
  color: #04222a;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100vw;
}

.banner-video video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px #011f3d;
}

.text-stroke-white {
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 8px;
}

@layer utilities {
  .wrapper {
    @apply max-w-[85rem] mx-auto px-4;
  }
  .heading {
    @apply text-[2.75rem] md:text-[5.5rem] font-bold leading-[1];
  }
  .heading-1 {
    @apply text-[2.75rem] md:text-[3.75rem] font-semibold leading-tight;
  }
  .heading-2 {
    @apply text-[2.25rem] md:text-[2.5rem] font-semibold leading-tight text-transparent bg-gradient-to-r from-primary to-secondary bg-clip-text;
  }
  .heading-2_1 {
    @apply text-[2.25rem] md:text-[2.5rem] font-semibold leading-tight;
  }
  .sub-heading {
    @apply text-[1.15rem] sm:text-[1.25rem] font-light leading-tight text-primary_text tracking-widest;
  }
  .desc {
    @apply text-base font-light;
  }
  .active-link {
    @apply text-primary font-bold;
  }
  .primary-btn {
    @apply text-white font-medium cursor-pointer tracking-wide bg-gradient-to-b from-primary to-primary text-sm hover:shadow-primary/10 hover:-translate-y-1 shadow-large shadow-transparent rounded-full px-4 py-3 min-w-[8rem] flex justify-center text-center transition-all duration-300;
  }
  .secondary-btn {
    @apply text-white font-medium cursor-pointer tracking-wide bg-gradient-to-b from-secondary to-secondary text-sm hover:shadow-secondary/10 hover:-translate-y-1 shadow-large shadow-transparent rounded-full px-4 py-3 min-w-[8rem] flex justify-center text-center transition-all duration-300;
  }
  .link {
    @apply cursor-pointer hover:text-primary transition-colors duration-200;
  }
  .section-heading {
    @apply font-medium text-lg text-primary;
  }
}

/* menu offcanvas styles */
.EZDrawer .EZDrawer__container {
  background: #f1f1f1 !important;
  width: 100vw !important;
  min-height: 100vh !important;
  overflow-y: scroll;
  z-index: 20;
}
.EZDrawer .EZDrawer__container::-webkit-scrollbar {
  display: none;
}

/* loading spinner styles */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.726);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ffc440 #ffc440;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.error-message {
  color: #ff0000d2;
}
